body {
  margin: 0;
  background-color: black;
}
::placeholder {
  color: red;
}
a {
  border
  color: white;
}
h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Michroma', sans-serif;
}
.active-nav {
  background-color: white;
  color: black !important;
  transition: all 0.5s ease-in;
}
.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  z-index: 100;
}
.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  padding: 1%;
  transition: border 0.5s ease-in;
  border-bottom: 1px solid transparent;
}
.navigation a:hover {
  border-color: white;
  transition: border 0.5s ease-in;
}
.right-side-nav {
  width: 15%;
}
.right-side-nav i {
  margin: 0% 2%;
}
.left-side-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.nav-dots {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-img {
  background-image: url("../images/main2.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-text {
  text-align: center;
  color: white;
  padding: 12%;
}
.main-text h1 {
  font-size: 55px;
}
.main-text h3 {
  font-size: 28px;
}
.learn-more-holder {
  color: white;
  text-align: center;
}
/*

.vertical-scrolling {
  height: 100%;
} */



.about-holder {
  background-image: url("../images/greybg.jpg");
  width: 100%;
  height: 100%;
  position: relative;
}
.about-holder img {
  width: 13%;
  height: auto;
  position: absolute;
}
.img1 {
  top: 30%;
  right: 20%;
}
.img2 {
  top: 50%;
  right: 30%;
}
.img3 {
  top: 50%;
  right: 10%;
}
.about-me {
  position: absolute;
  top: 20%;
  left: 30px;
  /* background-color: #333; */
  color: white;
  padding: 2%;
  width: 35%;
}
.about-me h2 {
  font-size: 35px;
}
.about-me hr {
  width: 5%;
  margin: 1% 0%;
  background-color: white;
  border: 1px solid white;
  border-color: white;
  color: white;
}
/* work css */

.work-holder {
  background-image: url("../images/workbg.jpg");
  background-size: contain;
  width: 100%;
  position: relative;
  height: 100%;
}
.work-segment {
  top: 45%;
  left: -100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 90%;
  height: 70%;
  transition: all 0.5s ease;
}
.activeWorkDiv {
  transition: all 0.5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}

.left-side {
  position: absolute;
  top: 50%;
  left: 3%;
}
.right-side {
  position: absolute;
  top: 50%;
  right: 3%;
}
/* prvi */
.work-holder i {
  font-size: 30px;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  cursor: pointer;
}
.work-holder i:hover {
  font-weight: bold;
  transition: all 0.5s ease;
}
/* drugi  */
/* .work-nav-holder {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
  position: relative;
  top: 15%;
}
.work-nav-holder button {
  padding: 1% 10%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 2px solid white;
} */
.work-container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* .work-container:first-child {
  width: 70%;
} */
.work-elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.work-container img {
  width: 100%;
  height: 100%;
}
.work-segment h2 {
  color: white;
  text-align: center;
}
.work-overlay-text {
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-overlay-text p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin: 0;
  font-size: 20px;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-container a:hover > .work-overlay-text {
  opacity: 0.9;
  transition: all 0.5s ease;
}
.double-element {
  display: flex;
  height: 100%;
  width: 35%;
  flex-direction: column;
}
.single-element {
  width: 65%;
  height: 100%;
}

.dev-elements {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.dev-element {
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
}
.dev-image {
  width: 12%;
  height: auto;
  margin: 2%;
}
.dev-image img {
  width: 100%;
  height: auto;
}
.dev-text {
  width: 60%;
  align-content: center;
}
/* .double-element div {
  width: 100% !important;
  height: 50%;
} */

/* contact css */

.contact-holder {
  background-image: url("../images/contactbg.jpg");
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
}
.form-holder {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
.double-form-element-holder {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  flex-direction: row;
}
.double-form-element-holder > .form-element-holder {
  display: flex;
  width: 48%;
  flex-direction: column;
}
.form-element-holder {
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: border 0.5s ease;
}
.form-element-holder input, .form-element-holder textarea {
  background-color: rgba(255,255,255,.2);
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.5s ease;
}
.form-element-holder textarea {
  padding-left: 1%;
}
.form-element-holder input {
  height: 100%;
  padding-left: 2%;
}
.form-element-holder label {
  margin: 3% 0%;
  font-size: 20px;
  color: white;
}
.submit-holder {
  display: flex;
  justify-content: center;
}
.submit-holder input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin: 5% 0%;
  padding: 2% 5%;
  font-size: 20px;
}
.contact-text {
  text-align: center;
  margin: 0;
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hidden_iframe {
  position: absolute;
  left: -100%;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}
