.left-side-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  top: 100%;
  left: -100%;
}
.main-text {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.main-text h1 {
  font-size: 36px;
}
.main-text h3 {
  font-size: 13px;
}
.work-segment {
  height: 59%;
  width: 80%;
}
.learn-more-holder {
  position: absolute;
  width: 80%;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -5%;
}
.about-me {
  width: 100%;
  top: 5%;
}
.about-holder img {
  display: none;
}
.about-me p {
  width: 80%;
  font-size: 1em;
}
.about-me hr {
  width: 60%;
}
.right-side-nav {
  width: 30%;
}
.single-element {
  width: auto;
  height: auto;
}
.double-element {
  flex-direction: row;
  width: 100%;
  height: auto;
}
.dev-element {
  width: 100%;
}
.dev-text h3 {
  font-size: 13px;
}
.dev-text p {
  font-size: 10px;
}
.right-side {
  right: 1%;
}
.contact-text {
  top: 20%;
  width: 100%;
  /* position: static;
  left: auto;
  top: auto;
  transform: none; */
}
.contact-text p{
  font-size: 15px;
}
.contact-holder {
  background-size: auto;
  display: flex;
  flex-direction: column;
}
.submit-holder input {
  font-size: 15px;
}
.double-form-element-holder {
  height: auto;
  flex-direction: column;
}
.form-element-holder {
  width: 100% !important;
}
.form-holder {
  transform: none;
  width: 80%;
  /* position: static;
  left: auto;
  top: auto; */
}
/* .navigation {
  position: static;
} */
.navigation a {
  padding: 3%;
}
.nav-toggle {
  display: block;
  color: white;
}
#fp-nav {
  display: none;
}
